
*{
    margin:0;
    padding:0;  
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    grid-template-areas:"nada todo todo"
                        "nada todo todo"
                        "nada todo todo";
    
}


.articulo {
    
    background-color: #ded65f;
    grid-area: todo;

}


.articulo-2 {
    background-color: #6cbc85;
    grid-area: nada;

}
